1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.

In [1]:
def remove_letters(a,b):
    for i in b:
        a.remove(i)
    return a
print(remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string"))    
print(remove_letters(["b", "b", "l", "l", "g", "n", "o", "a","o" ,"w"], "balloon"))
print(remove_letters(["d", "b", "t", "e", "a", "i"], "edabit"))

['w']
['b', 'g', 'w']
[]

2. A block sequence in three dimensions. We can write a formula for this one:

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.

In [2]:
def booboo(n) :
    return n ==1 or n + booboo(n - 1)


def blocks(step): 
    return step == 0 or  booboo(step) + step * 3 + step * 2 - 1

print(blocks(1))
print(blocks(5))
print(blocks(2))

5
39
12

3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.

In [74]:
def my_sub(x, y):
    if (x == 0):
        return y
    return subtract(y ^ x, (~y & x) << 1)



print(my_sub(5,9))
print(my_sub(10,30))
print(my_sub(0,0))

4
20
0

4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000

add_bill(&quot;d20,p40,p60,d50&quot;)

In [44]:
def add_bill(a):
    sum=0
    for i in a.split(','):
        if i.startswith('d') or  i.endswith('k') & i.startswith('d') and i.endswith('k'):
            if i[-1]=='k':
                sum+=int(i.replace('k','000')[1:])
            else:
                sum+=int(i[1:])
    return sum
        
print(add_bill("d20,p40,p60,d50"))
print(add_bill("p30,d20,p60,d150,p360"))
print(add_bill("p30,d2k,p60,d200,p360"))

70
170
2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.

In [45]:
def flip_list(a):
    lst=[]
    for i in a:
        if type(i)==int:
            lst.append([i])
        elif type(i)==list:
            for j in i:
                lst.append(j)
    return lst

print(flip_list([1, 2, 3, 4]))
print(flip_list([[5], [6], [9]]))

[[1], [2], [3], [4]]
[5, 6, 9]